body {
  position: relative;
	padding-top: 60px;
	padding-bottom: 40px;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: 0 40px;
}

#content {
	margin: 0 auto;
}

#repasrc_container {
  width: 1140px;
	margin: 0 auto;
}

div.recipe_content {
	background: #fff;
}

.row.select {
	margin: 10px;
	display: block;
	width: 100%;
	padding: 0;
	line-height: 1.8em;
	cursor: pointer;
}

.row.select .title {
	margin: 10px 0px 0px 40px;
	width: 100%;
	float: left;
}

.row.select .hint {
	margin: 0px 0px 20px 40px;
	width: 100%;
	float: left;
}

.select.checked {
	background: transparent url(../img/check.png) no-repeat center left;
}

.form-actions input.btn-primary.special {
	margin-left: 140px;
} 

.fam1 {
	background-color: #ffb1fa;
	font-size: 10px;
}

.fam2 {
	background-color: #813a28;
	font-size: 10px;
}

.fam3, .fam4 {
	background-color: #00a650;
	font-size: 10px;
}

.fam5 {
	background-color: #00adef;
	font-size: 10px;
}

.fam6 {
	background-color: #ed1c24;
	font-size: 10px;
}

.fam7 {
	background-color: #fcc707;
	font-size: 10px;
}

.fam8 {
	background-color: #d11fec;
	font-size: 10px;
}

.fam9 {
	background-color: #777;
	font-size: 10px;
}

.foodstuff-list {
	margin: 0px 20px 0px 0px;
	height: 410px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.pagination li {
  cursor: pointer;
}

dl {
  margin-top: 10px;
  margin-bottom: 0px;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 165px;
}

/* COMMENTS */
.comment-textarea {
	width: 700px;
	height: 350px;
}

/* MODAL */
.modal-box {
	width: 600px;
}

li {
  list-style-type: none;
}

#homeContainer {
  margin-top: 80px;
}
#homeContainer li.span4 a {
  height: 162px;
}

#homeContainer li.span4 p {
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
  color: #5A5A5A;
}

#homeRepasRC {
  padding-top: 5px;
  text-align: center; 
}

#homeRepasRC .rcr {
  font-size: 14px;
  margin-bottom:24px;
  color: #5A5A5A;
}

#homeRepasRC .big {
  font-size: 72px;
  color: #000;
}

#homeRepasRC .repasrc {
  color: #5A5A5A;
}

#homeRepasRC .vasd {
  font-size: 24px;
  color: #5A5A5A;
}

#greeting {
  margin-top: 50px;
  margin-left: 60px;
}

#greeting .span4 {
  font-size: 16px;
  color: #5A5A5A;
  margin-top: 35px;
}

#gfn {
  margin-left: 230px;

}
#gfn .span6 {
  font-size: 16px;
  color: #5A5A5A;
  margin-top: 35px;
}

#financeurs {
  margin-left: 80px;
}

#financeurs li {
  min-height: 220px;
  font-size: 10px;
}

#financeurs .span4 {
  font-size: 12px;
}

#financeurs .span2 {
  border-left: 1px solid #ddd;
  text-align: center;
  height: 100%;
}
